<mat-drawer-container class="drawer-container" autosize>
  <p3-nav [drawer]="drawer"></p3-nav>
  <mat-drawer #drawer class="drawer-sidenav" mode="side" position="end">
    <h2 (click)="log(user)">{{ user.username }}</h2>
    <span *ngIf="showFiller">{{ user.attributes.email }}</span>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      <mat-icon>
        {{
          !showFiller ? "keyboard_double_arrow_down" : "expand_less"
        }}</mat-icon
      >
    </button>
    <div class="flex-spencer"></div>
    <button mat-button (click)="signOut()">Sign Out</button>
  </mat-drawer>

  <ng-content></ng-content>
</mat-drawer-container>
