@use "@angular/material" as mat;
@import "../../../styles.scss";

a {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  .mat-icon {
    transition: 0.2s ease-in-out;
    font-size: 1.2rem;
  }
  &:hover {
    .mat-icon {
      color: mat.get-color-from-palette($primary);
    }
  }
}
