.post-container {
  transition: 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;

  section {
    cursor: pointer;
  }

  &:hover {
    background-color: #363636;
  }

  .delete-icon {
    position: absolute;
    right: 1%;
  }
}

.mat-card > .mat-card-actions:last-child {
  display: flex;
  justify-content: flex-end;
}
