.post-container {
  transition: 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 30%;

  section {
    cursor: pointer;
  }

  &:hover {
    background-color: #363636;
  }

  .delete-icon {
    position: absolute;
    right: 1%;
  }
}

.likes-counter {
  padding: 0.25rem;
}
.mat-card > .mat-card-actions {
  margin: 0;
  .action {
    display: flex;
  }

  &:last-child {
    justify-content: space-between;
    width: 100%;
    display: flex;
  }
}
