<mat-card class="post-container">
  <p3-icon
    *ngIf="showTrash"
    icon="delete"
    class="delete-icon"
    (click)="deletePost(post)"
  ></p3-icon>
  <section (click)="goToPostDetails(post.id!)">
    <mat-card-title>{{ post.title | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{
      post.author.username | titlecase
    }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ post.content }}</p>
    </mat-card-content>
  </section>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <div class="action">
      <p3-icon
      icon="thumb_up_alt"
      [selected]="verifyLike()"
      (click)="likePost()"
      ></p3-icon>
      <span class="likes-counter">{{ post.likes | getLength }}</span>
    </div>
    <div class="action">
      <p3-icon icon="comment" (click)="goToPostDetails(post.id!)"></p3-icon>
      <span class="likes-counter">{{ post.comments?.items | getLength }}</span>
    </div>
    <p3-icon icon="share"></p3-icon>
  </mat-card-actions>
</mat-card>
