@use "@angular/material" as mat;
@use 'sass:map';
@use './app-theme';

/* You can add global styles to this file, and also import other style files */
@import "~@aws-amplify/ui-angular/theme.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
@import "~@angular/material/theming";
@include mat-core();

$pink: mat-palette($mat-pink);
$blueGrey: mat-palette($mat-blue-grey);
$red: mat-palette($mat-red);
$deepPurple: mat-palette($mat-deep-purple);
$amber: mat-palette($mat-amber);
$indigo: mat-palette($mat-indigo);
$purple: mat-palette($mat-purple);
$green: mat-palette($mat-green);
$themeDeepPurpleAmber: mat-light-theme($deepPurple, $amber, $red);
$themeIndigoPink: mat-light-theme($indigo, $pink, $red);
$themePinkBlueGrey: mat-dark-theme($pink, $blueGrey, $red);
$themePurpleGreen: mat-dark-theme($purple, $green, $red);

$my-color: $themePinkBlueGrey;

$primary: map.get($my-color, primary);
$accent: map.get($my-color, accent);
$warn: map.get($my-color, warn);
$background: map.get($my-color, background);
$foreground: map.get($my-color, foreground);

@include angular-material-theme($my-color);

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.mat-drawer-container,
.mat-drawer-content {
  height: 100vh;
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: .3rem;
}

/* Track */
::-webkit-scrollbar-track {
  // background-color: map.get($my-color, primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.flex-spencer {
  flex-grow: 1;
}
